Read Basic-1-clean.csv thorugh pandas

In [ ]:
import pandas as pd

basic = pd.read_csv('Basic.csv')

Print Head Section and see if there is any NAN values or not

In [ ]:
basic.head()

,c1,c2,c3,c5,c6,c9,c11,c12,c14,c16,c17
0,1.000000,5.000000,3.913333,none,40.000000,2.000000,11.000000,average,half,full,good
1,2.000000,4.500000,5.800000,none,35.000000,4.583333,11.000000,below average,full,full,good
2,2.102564,3.620513,3.913333,none,38.000000,5.000000,11.000000,generous,half,half,good
3,3.000000,3.700000,4.000000,tc,37.810811,4.583333,11.105263,below average,half,full,good
4,3.000000,4.500000,4.500000,none,40.000000,4.583333,12.000000,average,half,half,good

Choose Independent variables to [c1, c2, c3, c11] and
dependent Variable to c12

In [ ]:

basic = basic.dropna()

x = basic[["c1", "c2", "c3", "c11"]]
y = basic["c12"]

import numpy as np
from sklearn.preprocessing import LabelEncoder

y = LabelEncoder().fit_transform(basic['c12'].values.reshape(-1,1))

# x = x.values.reshape(-1,2)
# y= y.values.reshape(-1,1)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Split Your datatset into 3:4 partition

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression #Linear Model

# splitting the data
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.43, random_state = 42)


regression_model = LinearRegression().fit(x_train, y_train)
y_predicted = regression_model.predict(x_test)

Train your Regression Model on Training Dataset

In [ ]:
regression_model.score(x_train, y_train)

0.1867019606712066

Test your Model using Testing Data Set

In [ ]:
regression_model.score(x_test, y_test)

-0.4289509966002232

Implement Evaluation Metrices

In [ ]:
from sklearn.metrics import mean_squared_error, r2_score

# model evaluation
mse = mean_squared_error(y_test, y_predicted)
r2 = r2_score(y_test, y_predicted)

# printing values
print('Slope:' ,regression_model.coef_)
print('Intercept:', regression_model.intercept_)
print('Mean squared error: ', mse)
print('Root mean squared error: ', mse**(1/2.0))
print('R2 score: ', r2)

Slope: [-0.09710584 -0.07475276  0.36183187  0.03154624]
Intercept: -0.3718519554675398
Mean squared error:  0.6747824150612165
Root mean squared error:  0.8214514076080316
R2 score:  -0.4289509966002232

Do the above same task.. But this time you need change the dependent variable to c17. and You need to perform same task for the logistic regression.

In [ ]:

basic = basic.dropna()

x = basic[["c1", "c2", "c3", "c11"]]
y = basic["c17"]

import numpy as np
from sklearn.preprocessing import LabelEncoder

y = LabelEncoder().fit_transform(basic['c17'].values.reshape(-1,1))

# x = x.values.reshape(-1,2)
# y= y.values.reshape(-1,1)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression #Linear Model

# splitting the data
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.43, random_state = 42)


regression_model = LinearRegression().fit(x_train, y_train)
y_predicted = regression_model.predict(x_test)

In [ ]:
regression_model.score(x_train, y_train)

0.47326746030587574

In [ ]:
regression_model.score(x_test, y_test)

0.5798713645545056

In [ ]:
from sklearn.metrics import mean_squared_error, r2_score

# model evaluation
mse = mean_squared_error(y_test, y_predicted)
r2 = r2_score(y_test, y_predicted)

# printing values
print('Slope:' ,regression_model.coef_)
print('Intercept:', regression_model.intercept_)
print('Mean squared error: ', mse)
print('Root mean squared error: ', mse**(1/2.0))
print('R2 score: ', r2)

Slope: [ 0.03690809  0.20108316 -0.02293083  0.0927272 ]
Intercept: -1.1172357127295118
Mean squared error:  0.09336191898788765
Root mean squared error:  0.305551827007936
R2 score:  0.5798713645545056